{
  "root": true,
  "extends": ["../../.eslintrc", "next/core-web-vitals"],
  "plugins": ["testing-library"],
  "overrides": [
    // Exclude no use for nextjs pages components and types
    {
      "files": [
        "**/*.[jt]s?(x)",
        "types.d.ts"
      ],
      "rules": {
        "import/no-unused-modules": "off",
        "import/no-anonymous-default-export": "off",
        "jsx-a11y/anchor-is-valid": "off"
      }
    }
  ]
}
