@import "../../styles/common";

.TextField {
  display: block;
  width: 100%;

  &.disabled {

    .label {
      color: var(--grey);
      cursor: default;
    }

    .input {
      border-color: var(--grey);

      input {
        color: var(--grey);
      }
    }
  }

  &.hasError {

    .input {
      border-color: var(--red);
      box-shadow: 0 0 5px 0 rgba(var(--redRgb), 0.8);
    }
  }

  &.hasSuffix {

    .input {
      padding-right: 30px;
    }
  }

  &.hasPrefix {

    .input {
      padding-left: 30px;
    }
  }

  .label {
    cursor: pointer;
    margin-bottom: 10px;
    text-transform: capitalize;
  }

  .input {
    border: 1px solid transparent;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.8;
    overflow: hidden;
    position: relative;
    width: 100%;

    @include dark;

    input {
      background-color: transparent;
      border: none;
      caret-color: var(--orange);
      color: var(--white);
      font-size: 100%;
      height: 100%;
      padding: 15px 20px;
      width: 100%;

      &:-webkit-autofill,
      &:-webkit-autofill:active,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus {
        background-color: var(--background-color);
        border: none;
        -webkit-box-shadow: 0 0 0 1000px var(--background-color) inset;
        caret-color: var(--orange);
        font-size: 100%;
        -webkit-text-fill-color: var(--white);
        // it's not possible to use transparent background color
        // to override chrome autofill styles, so background needs
        // to be set to a certain color, to keep the initial background
        // transparent the transition delay can be used
        transition: background-color 7200s ease-in-out 0s; // 2 hr delay
      }

      &::selection {
        background-color: var(--cyan);
        color: var(--white);
      }

      &:focus-visible {
        outline: none;
      }
    }

    .prefix,
    .suffix {
      height: 30px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;

      svg {
        fill: currentColor;
        height: 100%;
        width: 100%;
      }
    }

    .prefix {
      left: 10px;
    }

    .suffix {
      cursor: pointer;
      right: 10px;
    }
  }

  .error {
    color: var(--red);
    font-size: 14px;
    height: 25px;
    margin-top: 5px;
    overflow: hidden;
    padding-left: 21px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}

.Story {
  @include dark;

  border-radius: 0;
  min-height: 300px;
  padding: 40px;

  > div {
    width: 400px;
  }
}
