.Spinner {
}

.Story {
  display: grid;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(4, 200px); /* stylelint-disable-line */

  .loader {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

    &:nth-child(6n - 5) {
      background-color: #1abc9c;
    }

    &:nth-child(6n - 4) {
      background-color: #34495e;
    }

    &:nth-child(6n - 3) {
      background-color: #f39c12;
    }

    &:nth-child(6n - 2) {
      background-color: #9b59b6;
    }

    &:nth-child(6n - 1) {
      background-color: #3498db;
    }

    &:nth-child(6n) {
      background-color: #e74c3c;
    }

    p {
      color: #ffffff;
      margin-bottom: 10px;
    }

    svg {
      height: 100%;
      width: 100%;

      path,
      circle {
        color: #ffffff;
        stroke: #ffffff;
      }
    }
  }
}
