<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>@ViewData["Title"] - IdentityService</title>
    <link href="~/static/css/main.1d7e46a2.css" rel="stylesheet">
</head>
<body>
<div id="app"></div>
@RenderBody()
<script defer src="~/static/js/runtime~main.d2d1972f.js"></script><script defer src="~/static/js/vendors~react-dom-17.0.2.ab55ca6d.js"></script><script defer src="~/static/js/main.9674b8c6.js"></script>
</body>
</html>
