@import "../../styles/_common";

.Card {
  border-radius: 1rem;
  padding: 2rem;

  @include dark;

  @include theme("light") {
    @include light;
  }
}

.Story {
  background-color: #00a2fe;
  min-height: 100vh;
  padding: 2rem;

  .cardContainer {
    width: 30rem;
  }

  .card {
    margin-bottom: 4rem;
  }

  .emptyCard {
    aspect-ratio: 1/1;
    height: 30rem;
  }
}
