{
  "extends": ["../../../.eslintrc"],
  "ignorePatterns": ["webpack*"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "rules": {
        "import/no-cycle": "warn"
      }
    }
  ]
}
