@import "../../styles/base/baseButton";

.Button {
  @extend %buttonBase;

  min-width: 10rem;
  padding: 0.5rem 2rem;

  &.loading {
    color: transparent;

    > * {
      opacity: 0;
      transform: scale(0);
    }

    .spinner {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  svg {
    fill: currentColor;
    height: var(--text-size);
  }

  .content {
    align-items: center;
    display: inline-flex;
    gap: 1rem;
    max-height: var(--text-height);
    white-space: nowrap;
  }

  > .spinner {
    fill: var(--spinner-color);
    height: var(--text-height);
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
  }
}

.Story {

  > div {

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  .sameWidthList {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }
}
