@page
@model object

@{
    ViewBag.Title = "Login";
    ViewBag.Error = "Error message";
    Layout = "_Layout";
}

@section Head
{
    <link asp-href-include="~/register.*.css" rel="stylesheet">
}

@section PostBody
{
    <script type="application/javascript" asp-src-include="~/register.*.js"></script>
}

<div id="client-app">
    Loading...
</div>
