.BrandButton {
  --apple: hsl(0deg 0% 0%);
  --apple-text: hsl(0deg 100% 100%);
  --epic: hsl(0deg 0% 29%);
  --epic-text: hsl(330deg 2% 18%);
  --facebook: hsl(221deg 43% 42%);
  --facebook-text: hsl(0deg 100% 100%);
  --google: hsl(0deg 33% 99%);
  --google-text: hsl(240deg 2% 39%);
  --microsoft: hsl(0deg 0% 98%);
  --microsoft-text: hsl(300deg 0% 45%);
  --steam: hsl(222deg 18% 11%);
  --steam-text: hsl(30deg 3% 71%);
  --vk: hsl(212deg 39% 46%);
  --vk-text: hsl(300deg 100% 100%);

  &.apple {
    --button-spinner-color: var(--apple-text);

    background: var(--apple);
    color: var(--apple-text);

    .brandIcon {
      fill: var(--apple-text);
    }
  }

  &.epic {
    background: var(--epic);
  }

  &.facebook {
    --button-spinner-color: var(--facebook-text);

    background: var(--facebook);
    color: var(--facebook-text);

    .brandIcon {
      border: 1px solid var(--facebook-text);
      border-radius: 0.4rem;
    }
  }

  &.google {
    --button-spinner-color: var(--google-text);

    background: var(--google);
    color: var(--google-text);
  }

  &.microsoft {
    --button-spinner-color: var(--microsoft-text);

    background: var(--microsoft);
    color: var(--microsoft-text);
  }

  &.steam {
    --button-spinner-color: var(--steam-text);

    background: var(--steam);
    color: var(--steam-text);

    .brandIcon {
      path {
        fill: var(--steam-text);
      }
    }
  }

  &.vk {
    background: var(--vk);
    color: var(--vk-text);

    .brandIcon {
      path {
        fill: var(--vk-text);
      }
    }
  }

  .brandIcon {
    fill: initial;
  }
}
