.LoginForm {
  color: var(--white);
  max-width: 500px;
  width: 100%;

  .heading {
    margin-bottom: 20px;
    text-align: center;
  }

  .input {
    margin-bottom: 40px;
  }

  .buttonWrapper {
    text-align: center;
  }
}

.Story {
}
