@import "../../src/styles/reset";
@import "../../src/styles/fonts";
@import "../../src/styles/global";

body {
  --wrapper-background: #f8f8f8;

  font-family: Roboto, sans-serif;
  margin: 0 !important;
  padding: 0 !important;

  * {
    box-sizing: border-box;
  }

  .storyWrapper {
    background-color: var(--wrapper-background);
    min-height: 100dvh;
    padding: 20px;
  }

  &[data-theme="dark"] {
    --wrapper-background: #333333;

    color: var(--white);
  }

  &[data-theme="light"] {
    --wrapper-background: #f8f8f8;

    color: var(--black);
  }

  @media (prefers-color-scheme: light) {
    --wrapper-background: #f8f8f8;
  }

  @media (prefers-color-scheme: dark) {
    --wrapper-background: #333333;
  }
}
