@mixin theme($value: "dark") {
  @if ($value == "light") {
    @at-root body[data-theme="light"] & {
      @content;
    }
  }

  @else if($value == "dark") {
    @at-root body[data-theme="dark"] & {
      @content;
    }
  }
}

@mixin dark {
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  background: rgba(19, 18, 18, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 16px 0 rgba(31, 38, 135, 0.37);
}

@mixin light {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 16px 0 rgba(31, 38, 135, 0.37);
}

@mixin focusVisible {
  outline: 2px solid var(--orange);
}

@mixin disabled {
  filter: grayscale(0.9);
}
