@function toRGB($color) {
  @return "rgb(" + red($color) + ", " + green($color) + ", " + blue($color) +
    ")";
}

@function toHSL($color) {
  @return "hsl(" + hue($color) + ", " + saturation($color) + ", " +
    lightness($color) + ")";
}

$colors: (
  black: #000000,
  blue: #0071b2,
  cyan: #00b2ad,
  green: #6edc5f,
  grey: #909090,
  orange: #e67100,
  purple: #8743ff,
  red: #e61800,
  white: #ffffff,
  yellow: #e6c400,
);

:root {

  /**
  * @tokens Colors
  * @presenter Color
  */
  @each $name, $value in $colors {
    --#{$name}: #{tohsl($value)};
    --#{$name}-light: #{tohsl(lighten($value, 15))};
    --#{$name}-dark: #{tohsl(darken($value, 15))};
  }

  --snow-again: linear-gradient(
    to right,
    rgba(230, 233, 240, 0.5),
    rgba(238, 241, 245, 0.5)
  );
  --rainy-ashville: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  --tempting-azure: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  --morpheus-den: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  --frozen-dreams: linear-gradient(
    to top,
    #fdcbf1 0%,
    #fdcbf1 1%,
    #e6dee9 100%
  );
  --night-fade: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  --warm-flame: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  --mean-fruit: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  --purple-gradient: linear-gradient(270deg, #8743ff 0%, #4136f1 100%);
  --dusty-grass: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  --sunny-morning: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  --true-sunset: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
