@mixin theme($value: "dark") {
  @if ($value == "light") {
    @at-root body[data-theme="light"] & {
      @content;
    }
  }

  @else if($value == "dark") {
    @at-root body[data-theme="dark"] & {
      @content;
    }
  }
}

%loginRegisterForm {
  max-width: 50rem;
  width: 100%;

  .form {
    margin: auto 0;
  }

  .heading {
    margin-bottom: 1rem;
    text-align: center;
  }

  .fieldset {
    margin-top: 2rem;

    .input {

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  .input {
    margin-top: 0.5rem;
  }

  .text {
    margin-top: 1rem;
  }

  .icon {
    display: block;
    margin: 0 auto 2rem;
    width: 60%;
  }

  .buttonWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-around;
    margin-top: 1rem;
    text-align: center;
  }
}
