%loginRegisterForm {
  color: var(--white);
  max-width: 500px;
  width: 100%;

  .form {
    margin: auto 0;
  }

  .heading {
    margin-bottom: 10px;
    text-align: center;
  }

  .fieldset {
    margin-top: 20px;

    .input {

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  .input {
    margin-top: 5px;
  }

  .text {
    margin-top: 10px;
  }

  .icon {
    display: block;
    margin: 0 auto 20px;
    width: 60%;
  }

  .buttonWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    margin-top: 10px;
    text-align: center;
  }
}

%loginRegisterPage {
  background: url(../images/mountain.jpg);
  background-size: cover;
  width: 100%;

  .card {
    width: 300px;
  }

  .formContainer {
    border-radius: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin-left: auto;
    overflow-y: auto;
  }
}
