.MainSidebar {
  background-color: cornflowerblue;
  flex: 1 0 280px;
  max-width: 280px;

  a {
    display: block;
    text-decoration: none;
  }

  .listItem {
    display: block;
    width: 100%;
  }
}
