.Heading {
  color: inherit;
  font-stretch: condensed;
  font-style: normal;
  font-weight: bold;
  letter-spacing: normal;
  line-height: normal;
  margin: 0;
}

h1.Heading {
  font-size: 36px;
}

h2.Heading {
  font-size: 30px;
}

h3.Heading {
  font-size: 26px;
}

h4.Heading {
  font-size: 20px;
}

h5.Heading {
  font-size: 16px;
}

h6.Heading {
  font-size: 14px;
}

.Story {
  color: #ffffff;
}
