.Heading {
  color: inherit;
  font-stretch: condensed;
  font-style: normal;
  font-weight: bold;
  letter-spacing: normal;
  line-height: normal;
  margin: 0;
}

h1.Heading {
  font-size: 3.6rem;
}

h2.Heading {
  font-size: 3rem;
}

h3.Heading {
  font-size: 2.6rem;
}

h4.Heading {
  font-size: 2rem;
}

h5.Heading {
  font-size: 1.6rem;
}

h6.Heading {
  font-size: 1.4rem;
}

.Story {
}
