@import "../../styles/common";

.Main {
  --light-fallback: hsl(195, 86%, 32%);
  --light-image: url(../../images/mountain.webp),
    url(../../images/mountain-@360.webp) var(--light-fallback);
  --dark-fallback: hsl(216, 100%, 15%);
  --dark-image: url(../../images/mountain-moonlight.webp),
    url(../../images/mountain-moonlight-@360.webp) var(--dark-fallback);

  background: var(--dark-image);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;

  @include theme("light") {
    background: var(--light-image);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    height: 100%;
    margin-left: auto;
    max-width: 50rem;
    overflow-y: auto;
    width: 100%;
  }

  .spinner {
    margin: auto;
    width: 50%;

    path {
      stroke: var(--primary);
    }
  }

  .formContainer {
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: auto;

    &::after {
      content: "";
      flex-shrink: 0;
      height: 2rem;
    }
  }
}

.Story {

  .buttonContainer {
    background-color: palegoldenrod;
    padding: 1rem;

    .storyButton {
      margin-right: 1rem;
    }
  }
}
